# Default ignored files
/shelf/
/workspace.xml
# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Environment Variables (IMPORTANT)
.env

# IDE settings
.vscode/
.idea/

# Distribution / Packaging
build/
dist/
*.egg-info/